@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.gradient-bg {
  background: linear-gradient(180deg, #75d785 0%, #009cb2 100%);
}

.gradient-bg-reverse {
  background: linear-gradient(180deg, #fffff0 0%, #f5f5dc 100%);
}
